th {
  font-size: 1.6rem !important;
  text-align: center !important;
  font-weight: bolder !important;
}

td {
  font-size: 1.6rem !important;
  text-align: center !important;
}

p,
.MuiTablePagination-selectRoot,
.MuiMenu-list li {
  font-size: 2rem !important;
}

input {
  font-size: 1.4rem !important;
}

.notification {
  font-size: 2rem !important;
}
