@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.home {
  h1 {
    font-size: 3.8rem;
  }
  p {
    font-size: 2rem;
    font-weight: lighter;
  }
}
